.feature-section {
  position: relative;
  text-align: center;
  /* padding: 4rem 1rem; */
  overflow: hidden;
  margin-top: 30px;
}

/* Big Title */
.feature-title {
  font-size: 7rem;
  font-weight: 800;
  color: var(--white); /* faint because image is on top */
  position: relative;
  z-index: 1;
  /* margin-bottom: -6rem; */
  /* margin-top: -2rem; */
}
.feature-title2 {
  font-size: 7.5rem;
  font-weight: 800;
  color: var(--white); /* faint because image is on top */
  position: relative;
  z-index: 1;
  /* margin-bottom: -6rem; */
  margin-top: -3rem;
}

.highlight {
  /* color: #00704a;  */
  color: var(--white); 
  margin-top: -6rem;
  letter-spacing: 10px;
}

/* Coffee Image overlaps the title */
.feature-image-container {
  position: relative;
  z-index: 2;
  margin-top: -20rem; 
}

.feature-image {
  max-width: 500px;
  width: 100%;
}

/* Tape */
.feature-tape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: var(--accent);
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
  transform: rotate(-3deg); /* rotate slightly */
  z-index: 3;
}
.feature-tape span {
  white-space: nowrap;
  margin: 0 1rem;
}

/* Left & Right Paragraphs */
.feature-text {
  position: absolute;
  width: 250px;
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
}
.feature-text-left {
  top: 40%;
  left: 5%;
}
.feature-text-right {
  top: 40%;
  right: 5%;
}

/* Arrows */
.feature-arrow {
  position: absolute;
  width: 40px;
  height: auto;
}
.arrow-left {
  top: 30%;
  left: 2%;
}
.arrow-right {
  top: 30%;
  right: 2%;
}
