.feature-section {
  position: relative;
  text-align: center;
  /* padding: 4rem 1rem; */
  overflow: hidden;
  margin-top: 30px;
  height: 130vh;
}

/* Big Title */
.feature-title {
  font-size: 7rem;
  font-weight: 800;
  color: var(--white); /* faint because image is on top */
  position: relative;
  z-index: 1;
  /* margin-bottom: -6rem; */
  /* margin-top: -2rem; */
}

.feature-title2 {
  font-size: 7.5rem;
  font-weight: 800;
  color: var(--white); /* faint because image is on top */
  position: relative;
  z-index: 1;
  /* margin-bottom: -6rem; */
  margin-top: -3rem;
}

.highlight {
  /* color: #00704a;  */
  color: var(--white); 
  margin-top: -6rem;
  letter-spacing: 10px;
}

/* Coffee Image overlaps the title */
.feature-image-container {
  position: relative;
  z-index: 2;
  margin-top: -20rem; 
}

.feature-image {
  max-width: 500px;
  width: 100%;
}

/* Tape */
.feature-tape {
  position: relative;
  /* bottom: 0;
  left: 0; */
  width: 120vw;
  background: var(--accent);
  color: var(--white);
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  padding: 1rem 10px;
  transform: rotate(-8deg); /* rotate slightly */
  z-index: 3;
  margin-top: -9rem;
   margin-left: -10vw;
}

.feature-tape span {
  white-space: nowrap;
  margin-right: 120px;
  /* margin: 0 0.5rem; */
  /* margin-top: ; */
}

/* Left & Right Paragraphs */
.feature-text {
  position: absolute;
  width: 250px;
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
}

.feature-text-left {
  top: 53%;
  left: 4%;
  text-align: start;
}

.feature-text-right {
  top: 80%;
  right: 5%;
  text-align: start;
}

/* Arrows */
.feature-arrow {
  position: absolute;
 
  height: auto;
  color: #fff;
}

.arrow-left {
  top: 73%;
  left: 63%;
  rotate: 170deg;
  width: 150px; 
}

.arrow-right {
  top: 31%;
  right: 70%;
   width: 90px;
   rotate: 48deg;
}
