.final-section {
  position: relative;
  width: 96%;
  /* margin: 30px; */
  margin-left: 30px;
  /* margin-right: 20%; */
  margin-bottom: 30px;
  
}

.final-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: var(--green);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  padding: 40px;
  position: relative;
  z-index: 2;
  /* margin-right: 30px; */
  height: 80vh;
}

/* Left Section */
.final-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.logo-small {
  width: 120px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.final-left p {
  font-size: 15px;
  line-height: 1.5;
  color: var(--white);
}

/* Middle Section */
.final-middle {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.middle-text {
  font-size: 18px;
  color: var(--white);
  max-width: 250px;
}

.logo-big {
  width: 220px;
  height: auto;
}

/* Right Section */
.final-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.final-right h3 {
  font-size: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.subscribe-box {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  /* padding: ; */
}

.subscribe-box input {
  flex: 1;
  border: none;
  padding: 13px 20px;
  font-size: 18px;
  outline: none;
}

.subscribe-btn {
  background: var(--deep-green); /* Starbucks green */
  color: white;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-note {
  font-size: 14px;
  color: var(--white);
}

/* Background big text */
.background-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12vw;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.05);
  letter-spacing: 5px;
  white-space: nowrap;
  z-index: 1;
  pointer-events: none;
}
