/* index.css */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
:root {
  --green: #006241;
  --deep-green: #072c27;
  --accent: #0e8b4a;
  --white: #fff;
  --muted: #9fb8a8;
  /* --container-w: 800px; */
  --radius-lg: 18px;
  --space: 16px;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #072c27; /* same as the mock background */
  color: var(--white);
  /* overflow-x: hidden; */
  position: relative; /* Crucial for positioning the pseudo-element */
  z-index: 1; /* Ensures your content appears above the background */
}

.page {
  /* width: var(--container-w); */
  margin: 0 auto;
  background: var(--deep-green);
  min-height: 100vh;
}
